@model Moviepro.Models.TSql_Informations

@{
    ViewBag.Title = "SendEmail";
    if(Session["user"] != null)
    {
        Response.Redirect("/Home/Index");
    }
}





<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Reset Password Form  Responsive Widget Template | Home :: w3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Admin/Content/css/forgotpassword/style.css" rel="stylesheet" type="" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        .txt {
            width: 300px;
            height: 30px;
            margin-left: 11%;
        }
    </style>
</head>
<body>
    <!--element start here-->
    <div class="elelment">
        <h2>Reset Password Form</h2>
        <div class="element-main">
            <h1>Forgot Password</h1>
            <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.</p>
            @using (Html.BeginForm())
            {

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDInfo)
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "txt", @placeholder = "New Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" class="txt" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="alert alert-success" role="alert">
                        <p>@ViewBag.Status</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="copy-right">
        <p>© 2016 Reset Password Form. All rights reserved | Template by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
    </div>

    <!--element end here-->
</body>
</html>




